.org-event-popup {
	&__title {
		margin-bottom: 12px;
	}
	
	&__description .org-textarea__input {
		height: 130px;
	}
	
	&__cancel {
		margin-right: 12px;
	}
	
	&__buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		margin-top: 12px;
	}
}

@media screen and (max-width: 848px) {
	.org-event-popup {
		&__description .org-textarea__input {
			height: 160px;
		}
	}
}
