.org-event-popup {
	&__title {
		margin-bottom: 12px;
	}
	
	&__description .org-textarea__input {
		height: 130px;
	}
	
	&__cancel {
		margin-right: 12px;
	}
	
	&__edit-buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		margin-top: 12px;
	}
	
	&__show-controls {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 12px;
	}
	&__button-delete {
		color: var(--accent-color);
		opacity: .8;
		width: 20px;
		height: 22px;
		
		&:hover {
			opacity: 1;
		}
	}
}

@media screen and (max-width: 848px) {
	.org-event-popup {
		&__description .org-textarea__input {
			height: 160px;
		}
	}
}
