@import './variables';
@import './ui-kit';
@import './event-popup';

* {
	box-sizing: border-box;
}

html {
	display: block;
	height: 100%;
}

body {
	margin: 0;
	height:100%;
	background-color: var(--app-bg);
}

.org-main {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.org-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 848px;
	padding: 0 24px;
	border-radius: 6px;
	background-color: var(--content-bg);
	box-shadow: 0 0 42px var(--shadow-color);
}

.org-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 6px;
	background-color: var(--content-bg);
	padding: 18px 0;
	
	&__title {
		margin: 0;
		color: var(--text-color);
		font-size: 28px;
	}
}

.org-settings-button {
	width: 32px;
	height: 32px;
	cursor: pointer;
	opacity: .5;
	transition: all .15s ease-in-out;
	
	&:hover {
		opacity: 1;
	}
	&--active {
		color: var(--accent-color);
		opacity: 1;
	}
}

.org-divider {
	display: flex;
	width: 100%;
	height: 1px;
	opacity: .5;
	background-color: var(--text-color);
}

.org-container {
	display: flex;
	border-radius: 6px;
	padding: 18px 0;
	flex-direction: row;
	background-color: var(--content-bg);
	
	&__calendar {
		min-height: 351px;
	}
	&__divider {
		display: flex;
		width: 1px;
		margin: 0 18px;
		opacity: .5;
		background-color: var(--text-color);
	}
	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 351px;
		
		&-title {
			font-size: 20px;
			font-weight: 600;
			padding: 9px 0;
			color: var(--text-color);
		}
		
		&-list {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}
}

.org-list {
	display: flex;
	flex: 1;
	flex-direction: column;
	
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 18px;
	}
	&__add-button {
		width: 28px;
		height: 28px;
		cursor: pointer;
		transition: all .15s ease-in-out;
		
		&:hover {
			color: var(--accent-color);
		}
	}
	&__content {
		display: flex;
		flex: 1;
		overflow: auto;
		flex-direction: column;
	}
	&__placeholder {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		color: var(--text-color);
	}
}

.org-event {
	position: relative;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid var(--text-color);
	margin-bottom: 12px;
	padding: 6px 0;
	
	&__title {
		font-weight: 600;
		color: var(--text-color);
	}
	&__description {
		font-size: 12px;
		color: var(--text-color);
		margin-top: 6px;
		line-height: 12px;
	}
	&__edit-button {
		position: absolute;
		display: block;
		width: 18px;
		height: 18px;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto 0;
		cursor: pointer;
		transition: all .15s ease-in-out;
		
		&:hover {
			color: var(--accent-color);
		}
	}
}

@media screen and (max-width: 848px) {
	.org-main {
		align-items: flex-start;
	}
	.org-wrapper {
		width: auto;
		height: 100%;
	}
	.org-container {
		flex-direction: column;
		height: 100%;
		
		&__calendar .org-calendar {
			width: 320px;
		}
		&__divider {
			width: 100%;
			height: 1px;
			margin: 18px 0;
		}
		&__content {
			max-width: 350px;
			margin-left: 0;
		}
	}
}
