@import './variables';
@import './ui-kit';
@import './content';
@import './event';
@import './event-popup';

* {
	box-sizing: border-box;
}

html {
	display: block;
	height: 100%;
}

body {
	margin: 0;
	height:100%;
	background-color: var(--app-bg);
	overflow: hidden;
}

.org-main {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.org-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 848px;
	padding: 0 18px;
	border-radius: 6px;
	background-color: var(--content-bg);
	box-shadow: 0 0 42px var(--shadow-color);
}

.org-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 6px;
	background-color: var(--content-bg);
	padding: 18px 0;
	
	&__title {
		margin: 0;
		color: var(--text-color);
		font-size: 28px;
	}
}

.org-settings {
	&__subtitle {
		color: var(--text-color);
		font-size: 16px;
		font-weight: 600;
		
		margin: 18px 0;
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
	&__button-remove-settings {
		margin-bottom: 12px;
	}
}

.org-settings-button {
	width: 32px;
	height: 32px;
	cursor: pointer;
	opacity: .5;
	transition: all .15s ease-in-out;
	
	&:hover {
		opacity: 1;
	}
	&--active {
		color: var(--accent-color);
		opacity: 1;
	}
}

.org-divider {
	display: flex;
	width: 100%;
	height: 1px;
	opacity: .5;
	background-color: var(--divider-color);
}

.org-container {
	display: flex;
	border-radius: 6px;
	padding: 18px 0;
	flex-direction: row;
	background-color: var(--content-bg);
	
	&__calendar {
		min-height: 351px;
	}
	&__divider {
		display: flex;
		width: 1px;
		margin: 0 18px;
		opacity: .5;
		background-color: var(--divider-color);
	}
	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 351px;
		
		&-list {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}
}

.org-delete-alert {
	width: 320px;
	
	&__text {
		color: var(--text-color);
		margin-bottom: 12px;
	}
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__button-confirm {
		margin-left: 12px;
	}
}

@media screen and (max-width: 848px) {
	.org-main {
		align-items: flex-start;
		padding: 9px;
	}
	.org-wrapper {
		width: auto;
		height: 100%;
		padding: 9px 18px
	}
	.org-header {
		padding: 9px 0;
	}
	.org-divider {
		padding-bottom: 1px;
	}
	.org-container {
		flex-direction: column;
		height: 100%;
		overflow: hidden;
		padding: 9px 0 0;
		
		&__calendar .org-calendar {
			width: 320px;
		}
		&__divider {
			width: 100%;
			height: 1px;
			margin: 9px 0;
		}
		&__content {
			max-width: 350px;
			margin-left: 0;
		}
	}
}
