html {
	--app-bg: #FDFAF9;
	--content-bg: #FDFAF9;
	--text-color: #111614;
	--accent-color: #BD2C2C;
	
	&[data-theme="dark"] {
		--app-bg: #111614;
		--content-bg: #111614;
		--text-color: #FDFAF9;
		
		--calendar-text-color: #FDFAF9;
	}
}
